$font-family: 'Roboto', sans-serif;
$font-logo: 'Shrikhand', cursive;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$Tertiaire-color: #99E2D0;
$footer-color: #353535;

body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}
