$font-family: 'Roboto', normal;
$font-logo: 'Shrikhand', sans-serif;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$Tertiaire-color: #99E2D0;
$button-gradient: linear-gradient(193deg, #FF79DA -11.44%, #9356DC 123.93%);
$button-gradient-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
$footer-color: #353535;

body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: $font-logo;
    margin: 0;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #fff;
}

h2 {
    text-align: left;
    margin-left: 20px;
}

.tutoriel_list_item h3 {
    margin: 0;
    font-size: 16px;
    font-weight : 500;
}

.restaurant_address span {
    font-style: normal;
}

.homepage_menu h2 {
    font-family: $font-family;
    text-align: center;
    font-weight: 700; 
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

footer {
    background-color: $footer-color;
    color: #fff;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.contenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}