.btn {
  display: inline-block;
  background-color: $primary-color;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
