.cartes {
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
    background-color: #F6F6F6;
}
.cartes__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card,
.carte {
    width: 80%;
    background-color: #fff;
    border: 1px solid #eee;
    margin: 10px;
    border-radius: 5px;
    position: relative;
    border-radius: 20px;
}
.card__body,
.carte_body {
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.card__title,
.carte__title {
    font-size: 18px;
    margin: 10px 0;
    text-decoration: none;
    color: #333;
    font-weight: 700;
}
.card__location,
.carte_ville {
    font-size: 17px;
}

.card__status,
.carte__status {
    background-color: $primary-color;
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    top: 10px; /* Inversé : placer en haut */
    right: 10px; /* Inversé : placer à droite */
}

.card__like,
.btn-like {
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    bottom: 25px; /* Inversé : placer en bas */
    right: 15px; /* Inversé : placer à droite */
}
