.footer li {
  list-style: none;
  margin-left: 5px;
  padding: 5px;
}

.footer_titre {
  font-size: 20px;
  font-family: $font-logo;
  margin-left: 10px;
  font-weight: normal;
}

.footer_liste {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0;
}