.index-header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}

.index-header h1 {
  font-family: $font-logo;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.header h1 {
  font-family: $font-logo;
  margin: 0;
  flex: 1; 
  text-align: center; 
}

.align-left {
  color: black;
  margin-left: 15px;
  font-size: 20px;
}

.restaurant_address {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #EAEAEA;
  padding: 10px 0;
}

.no-outline {
  outline: none;
}

@media screen and (min-width: 1025px) {

  .index-header h1 {
    padding: 10px;
  }
}