body {
  font-family: "Roboto", normal;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

h2 {
  text-align: left;
  margin-left: 20px;
}

.homepage_menu h2 {
  font-family: "Roboto", normal;
  text-align: center;
  font-weight: 700;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.contenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

.footer li {
  list-style: none;
  margin-left: 10px;
  padding: 5px;
}

.footer_titre {
  font-size: 20px;
  font-family: "Shrikhand", sans-serif;
  margin-right: 10px;
  font-weight: normal;
}

.footer_liste {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0;
}

.footer_liste_item i {
  margin-right: 10px;
}

.index-header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.index-header h1 {
  font-family: "Shrikhand", sans-serif;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.header h1 {
  font-family: "Shrikhand", sans-serif;
  margin: 0;
  flex: 1;
  text-align: center;
}

.align-left {
  color: black;
  margin-left: 15px;
  font-size: 20px;
}

.restaurant_address {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #EAEAEA;
  padding: 10px 0;
}

.no-outline {
  outline: none;
}

.tutoriel {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.tutoriel_list {
  list-style: none;
  padding: 0;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tutoriel_list_item {
  margin: 40px 0;
  text-align: left;
  max-width: 400px;
  display: flex;
  align-items: center;
  position: relative;
}

.step-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.step {
  background-color: #9356DC;
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-right: 5px;
  position: absolute;
  left: -15px;
}

.step-content {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-weight: bold;
}

.step__icon {
  font-size: 20px;
  margin-right: 30px;
}

.tutoriel_list_item:not(.step-container) {
  display: inline-block;
  background-color: #F6F6F6;
  color: #000;
  padding: 25px 35px;
  margin: 15px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tutoriel_list_item:first-child .step__icon,
.tutoriel_list_item:nth-child(2) .step__icon {
  color: #7E7E7E;
}

.tutoriel_list_item:last-child .step__icon {
  color: #9356DC;
}

.cartes {
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #F6F6F6;
}

.cartes__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 90%;
  background-color: #fff;
  border: 1px solid #eee;
  margin: 10px 0;
  border-radius: 20px;
  position: relative;
}

.card__body {
  display: flex;
  text-align: left;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 30px;
  padding-top: 10px;
}

.card__title {
  font-size: 18px;
  margin: 5px 10px;
  text-decoration: none;
  color: #333;
  font-weight: 700;
}

.card__location {
  font-size: 17px;
  margin: 5px 10px;
}

.card__status {
  background-color: #99E2D0;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  color: #008766;
}

.menu__btn, .card__btn {
  margin-right: 15px;
  padding-bottom: 10px;
}

.btn {
  display: inline-block;
  background: linear-gradient(193deg, #FF79DA -11.44%, #9356DC 123.93%);
  color: #fff;
  padding: 16px 20px;
  text-decoration: none;
  border-radius: 25px;
  margin: 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}
.btn:hover {
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.space {
  padding: 16px 50px;
}

.like-checkbox__input {
  display: none;
}

.like-checkbox {
  position: relative;
}

.menu__like {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  transition: opacity 0.5s;
}

.menu__like--noBg {
  z-index: 2;
}

.menu__like--bg {
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  color: transparent;
}

.like-checkbox__input:checked + .like-checkbox .menu__like--noBg {
  opacity: 0;
}

.like-checkbox__input:checked + .like-checkbox .menu__like--bg {
  opacity: 1;
  color: transparent;
  background: linear-gradient(193deg, #FF79DA -11.44%, #9356DC 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
}

.homepage_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding: 20px;
}

.card__image {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.menu-background-img img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 350px;
  position: relative;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}

.menu-container {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding: 15px;
  margin-top: -57px;
  position: relative;
  z-index: 1;
}

.menu-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-container.page-secondaire .heart-icon {
  margin-left: 10px;
  margin-top: -25px;
}

.menu h3.items {
  text-align: left;
  font-family: "Roboto", normal;
  font-weight: 400;
  font-size: 16px;
}

.menu h3.items::after {
  content: "";
  display: block;
  width: 40px;
  border-bottom: 2px solid #99E2D0;
  position: absolute;
  margin-top: 5px;
}

.menu-box {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 0;
  margin-bottom: 25px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: white;
  padding: 5px;
  margin: 8px;
  border-radius: 15px;
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.1);
  align-items: flex-end;
}

.menu-details {
  flex: 1;
}

.menu-item h3,
.menu-item p {
  margin: 5px;
}

.menu-item .price {
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 5px;
}

.menu-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 10px 0;
}

.menu-item i {
  display: block;
  position: absolute;
  font-size: 20px;
  width: 50px;
  height: 100%;
  background-color: #99E2D0;
  transition: transform 0.5s ease;
  transform: translateX(100%);
  top: 0;
  left: 100%;
  text-align: center;
  line-height: 70px;
  color: white;
  opacity: 0;
}

.menu-item:hover i {
  transform: translateX(-100%);
  opacity: 1;
}

.menu-item .price {
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.menu-item:hover .price {
  transform: translateX(-45px);
}/*# sourceMappingURL=style.css.map */